<li>
    <li><%= link_to "Nosotros", pages_nosotros_path  %></li>
</li>
<li>
    <li><%= link_to "Servicios", pages_servicios_path  %></li>
</li>
<li>
    <li><%= link_to "Contactos", pages_contacto_path  %></li>
</li>